.card__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/card__like-button.svg);
  background-repeat: no-repeat;
  transition: .2s;
  border: none;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: .5;
  cursor: pointer;
}