.popup__submit-button_disabled {
  opacity: .2;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.popup__submit-button_disabled:hover {
  cursor: default;
  background-color: transparent;
}